<div class="top-bar ">
    <!-- <div class="nav"> -->
        <div class="navbar-brand">
                  <a href="/seller">   <img src="./image/logo.png" style="color: white; width:90px; margin: 0 10px;"></a>
        </div>

    <div class="top-bar-btn justify-content-end">
               
                <a style="color: white;">Welcome <%= seller.name %></a>
              <button><a href="/logout">Logout</a></button>  
   
        

          </div>                          
      </div>
<div class="sidebar-fixed">
<ul>
    <li class="activee" id="home" onclick="home()">
        <a href="/seller">
            <i class="fa fa-home"></i>
            Home</a>

    </li>
    
    <li id="profile" onclick="profile()">
        <a href="/sellerProfile">
            <i class="fa fa-user-circle"></i>
            User Profile</a>
    </li>
  
    <li id="add" onclick="add()">
        <a href="/productinput">
            <i class="fa fa-plus-square"></i>
            Add Product</a>
    </li>
    <li id="all_product" onclick="all()">
        <a href="/allProducts">
            <i class="fa fa-database"></i>
            All Products</a>
    </li>
    <li class="" id="orders" onclick="orders()">
        <a href="/sellerOrder" >
            <i class="fa fa-cart-arrow-down"></i>
            New Orders</a>
    </li>
</ul>
</div>
 



