<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <%- include('./partials/navbar.ejs')%>

    <div class="content-container" style="margin-top: 50px;">
    <div class="content" >

   
    <header class="v-header">

   
   <div class="video-container">
         <video class="video" src="./video/new1.mp4" type="video/mp4"autoplay ="true" loop="true" muted></video>
         <!--  <video class="video"  autoplay loop muted>
          <source src="./video/video.mp4" type="video/mp4">
        </video>-->
        </div><!--video-container-->
        <div class="video-overlay"></div>
    <div class="header-content">
        <h1>TECH STOP</h1>
    </div>

          </header>
        </div>
        </div>



       <!-- <script>
        function spinner(){
            document.getElementById('hamburger').classList.add('fa-spin');
        }
        function outspinner(){
            document.getElementById('hamburger').classList.remove('fa-spin');
        }
        function cancelspinner(){
            document.getElementById('cancel').classList.add('fa-spin');
        }
        function canceloutspinner(){
            document.getElementById('cancel').classList.remove('fa-spin');
        }
    </script> -->
</body>

    

   
    </body>
</html>