<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="./css/signup.css">
    </head>
<body>

    <div class="header">
        <a href="/">
            <img src="./image/logo.png"  class="img-fluid">
        </a>    
    </div>
    <div class="signup">
        
        <form>
       
            <h1>Signup</h1>
            <p class="choose">Are you a Buyer or a Seller? Choose below:</p>
            <div class="radio-container">

                <div>
                    <input class="radio" type="radio" name="account" value="buyer" checked>
                    <label for="buyer">Buyer</label>
                </div>
               <div>
                <input class="radio" type="radio" name="account" value="seller">
                <label for="seller">Seller</label><br>
               </div>

            </div>

            <div style="display: flex; width: 100%;flex-wrap: wrap; justify-content: space-between;">

          <div class="left">
            <fieldset>
                <input class="signup-input" type="text" name="name" required>
                <label for="name" class="signup-label">
                    <i class="fa fa-user"></i>
                    <span>First Name</span>
                </label>
            </fieldset>
            <div></div><br>
          </div>      
        <div class="right">
            <fieldset>
                <input class="signup-input" type="text" name="lastName" required>
                <label for="name" class="signup-label">
                    <i class="fa fa-user"></i>
                    <span>Last Name</span>
                </label>
            </fieldset>
            <div></div><br>
        </div>
            
            
          <div class="left">
            <fieldset>
                <input class="signup-input" type="number" name="phone" required>
                <label for="name" class="signup-label">
                    <i class="fa fa-phone-alt"></i>
                    <span>Phone Number</span>
                </label>
            </fieldset>
            <div class="error_phone"></div><br>
          </div>
           
          <div class="right">
            <fieldset>
                <input class="signup-input" type="email" name="email" required>
                <label for="email" class="signup-label">
                 <i class="fa fa-envelope"></i>
                    <span>Email</span>
                </label>
               
            </fieldset>
            <div class="error_email"></div><br>
          </div>
           <div class="left">
            <fieldset>
                <input class="signup-input" type="password" name="password"required>
                <label class="signup-label">
                    <i class="fa fa-lock"></i>
                <span>Password</span>
                </label><br>
          
            </fieldset>
                <div class="error_password"></div><br>
           </div>
           <div class="right"></div>

        </div>

        <div style="display: flex; align-items: center; width: 100%;">
         
            <button class="submit"> Submit</button> 
          </div> 
          <div class="sign-in-container">
            <p><a href="/login">Sign in instead</a></p>
          </div>
       
       
           
        </form>
        
    </div>
    <script>

       
        const form = document.querySelector('form');
        
        form.addEventListener('submit',async (e) => {
//remove loading!
             e.preventDefault();
            const err_email = document.querySelector('.error_email');
            const err_password = document.querySelector('.error_password');
            const error_phone = document.querySelector('.error_phone');
            err_email.textContent = '';
            err_password.textContent ='';

            const email = form.email.value;
            const password = form.password.value;
            const account= form.account.value;
            const name = form.name.value;
            const lastName = form.lastName.value;
            const phone = form.phone.value;
            try{
                const res = await fetch('/signup',{
                    method: 'POST',
                    body: JSON.stringify({email, password,account,name,lastName,phone}),
                    headers: {'Content-Type': 'application/json'}
                });
                //used to get user id from this
                const data = await res.json();
         
            if(data.errors){
                err_email.textContent = data.errors.email;
                err_password.textContent = data.errors.password;
                error_phone.textContent = data.errors.phone;
            }else{
                // const res = await fetch('/otp',{
                //     method: 'POST',
                //     body: JSON.stringify({email, password,account}),
                //     headers: {'Content-Type': 'application/json'}
                // });     
                location.assign('/otp');
            }
                // if(data.errors){
                //     err_email.textContent = data.errors.email;
                //     err_password.textContent = data.errors.password;
                // }
    //             if (data.user) {
    //     location.assign('/otp');
    //   }
            }
            catch(err){
               document.querySelector('.notlogin').innerHTML= 'Already registered';
                console.log('signup.ejs',err);
            }
        });
        </script>
</body>
</html>